<!DOCTYPE html>
<html>
  <head>
    <!-- Minified version of Simple CSS -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    <title>The Adventures of Eli</title>
  </head>
  <body>
    <header>
      <nav>
        <a href="{{ url_for('home') }}">Adventures</a>
        <a href="{{ url_for('create_adventure') }}">New Adventure</a>
        <a href="{{ url_for('gear') }}">Gear</a>
        <a href="{{ url_for('about') }}">About</a>
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Login</a>
      </nav>
    </header>
    <div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="notice {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
