{% extends "layout.html" %}
{% block content %}
    <h1> {{ title }}</h1>
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset>
                <div>
                    {{ form.username.label }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="custom-invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div>
                            {{ form.username }}
                        </div>
                    {% endif %}
                </div>
                
                <div>
                    {{ form.email.label }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="custom-invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div>
                            {{ form.email }}
                        </div>
                    {% endif %}
                </div>

                <div>
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                <div>
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password }}
                </div>
            </fieldset>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
    <div>
        <small>
            Already have an account? <a href="{{ url_for('login') }}">Login</a>
        </small>
    </div>
{% endblock content %}